#!/usr/bin/make -f

VERSION=$(shell python -Bc 'import sys; sys.path.append("."); from opensipscli.version import __version__; print(__version__)')
NAME=opensips-cli

%:
	dh $@ --with python3 --buildsystem=pybuild

.PHONY: tar
tar:
	tar --transform 's,^\.,$(NAME),' \
		--exclude=.git \
		--exclude=.gitignore \
		--exclude=*.swp \
		--exclude=build \
		-czf ../$(NAME)_$(VERSION).orig.tar.gz .
